<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id="logo" src="../static/final logo.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html" id="navselected">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <main>
        <h3>Exhibition 1: Digital Dreams: Art in the technology age</h3>
        <p>This exhibition explores how artists are using algorithms and AI to create new forms of expression.</p>

        <h3>Exhibition 2: Code as Canvas: Programming as Art</h3>
        <p>This exhibition showcases the work of programmers who are using code as a medium for creative expression, transforming lines of code into visual and interactive art pieces.</p>

        <a href="tickets.html" class="cta">Buy Tickets</a>
    </main>
    <footer>
        <p>&copy; <span id="current-year"></span> MonoMuse Museum. All rights reserved.</p>
    </footer>
</body>
</html>
