<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id="logo" src="../static/final logo.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html" id="navselected">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <main>
        <img src="../static/museum photo.jpeg" alt="One of our amazing exhibits at MonoMuse" width="600">
        <h2>Mission Statement</h2>
        <p>MonoMuse is dedicated to exploring the relationship between art, technology, and society.</p>
        <h2>Milestones</h2>
        <ul>
            <li>2016: MonoMuse opens its doors with its first exhibition.</li>
            <li>2018: MonoMuse receives a prestigious award for innovation in museum design.</li>
            <li>2023: MonoMuse expands its museum space and exhibits.</li>
        </ul>
        <a href="tickets.html" class="cta">Buy Tickets</a>
    </main>
    <footer>
        <p>&copy; <span id="current-year"></span> MonoMuse Museum. All rights reserved.</p>
    </footer>
</body>
</html>
