<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <h1>Explore</h1>
    <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
    </nav>
    <div class="main">
        <img src = "../static/museum photo.jpeg" alt = "One of our amazing exihibts at MonoMuse" width = "600">
        <h2>Mission Statement</h2>
        <p>MonoMuse is dedicated to exploring the relationship between art, technology, and society.</p>
        <h2>Milestones</h2>
        <p>
            <ul>
                <li>2016: MonoMuse opens its doors with its first exhibition.</li>
                <li>2018: MonoMuse receives a prestigious award for innovation in museum design.</li>
                <li>2023: MonoMuse expands its museum space and exhibits.</li>
            </ul>
        </p>
    </div>
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>