<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <h1>MonoMuse</h1>
    <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
    </nav>
    <div class="main">
        <table border = "1">
            <thead>
                <tr>
                    <th>Ticket Type</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Adult</td>
                    <td>General Admission for ages 18+</td>
                    <td>$18</td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td>Valid student ID required</td>
                    <td>$10</td>
                </tr>
                <tr>
                    <td>Member</td>
                    <td>Member ID required</td>
                    <td>$15</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>